@import "../style/modern-normalize.css";

html {
  scroll-behavior: smooth;
}

.icons {
  width: 80px;
  height: auto;
  cursor: pointer;
}

#contacto-icon {
  transition: transform 0.2s;
}

#contacto-icon:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

.about-me {
  grid-row: 2 / 2;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  justify-items: center;
  align-items: center;
  background: url(../img/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  user-select: none;
}

.about-img {
  justify-self: right;
  margin-top: 90px;
  transition: transform 0.2s;
}

.about-img:hover {
  transform: scale(1.05);
}

.about-image {
  max-width: 450px;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-content {
  background-color: aliceblue;
  max-width: 700px;
  justify-self: left;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 110px;
  transition: transform 0.2s;
}

.about-content:hover {
  transform: scale(1.05);
}

.about-content > h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.656);
}

.about-content > p {
  font-family: "Playfair Display", Times, serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.988);
  word-spacing: 1px;
  line-height: 40px;
  font-weight: 500;
}

.about-contact {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.about-contact > p {
  font-family: "Playfair Display", Times, serif;
  font-size: 25px;
  word-spacing: 1px;
  line-height: 40px;
  font-weight: 700;
}

.my-work > h1 {
  align-self: start;
  padding-left: 140px;
}

.my-work {
  grid-row: 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.my-work > h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 50px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.project-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 400px);
  gap: 50px;
  padding-bottom: 100px;
}

.project-cards h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 23px;
  font-weight: 500;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding-left: 30px;
  padding-top: 10px;
  text-align: center;
}

.project-cards p {
  font-family: "Roboto", Times, serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.707);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding-left: 30px;
  text-align: center;
}

.project-cards a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.project-cards a:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.project-1-content,
.project-2-content,
.project-3-content,
.project-4-content,
.project-5-content,
.project-6-content {
  display: grid;
  grid-template-columns: 280px 50px 50px;
  grid-template-rows: 300px 50px 100px;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.project-img {
  width: 400px;
  height: 300px;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  object-fit: cover;
}

.project-github {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.project-open {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-self: center;
}

.project-1-content p,
.project-2-content p,
.project-3-content p,
.project-4-content p,
.project-5-content p,
.project-6-content p {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.prices {
  grid-row: 4 / 4;
  background-color: #f9f9f9;
  padding: 50px 0;
}

.prices-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 40px;
  user-select: none;
  transition: transform 0.2s;
}

.prices-content:hover {
  transform: scale(1.05);
}

.prices-content h1 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.prices-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.prices-content th,
.prices-content td {
  padding: 15px;
  text-align: left;
  font-family: "Roboto", Times, serif;
  font-size: 18px;
  border-bottom: 1px solid #dddddd;
}

.prices-content th {
  background-color: #3a8fe9;
  color: #ffffff;
  font-weight: 700;
}

.prices-content tbody tr:hover {
  background-color: #f1f1f1;
}

.prices-content td {
  color: #333333;
}

.prices-content .promotions {
  font-family: "Roboto", Times, serif;
  font-size: 20px;
  color: #555555;
  text-align: center;
  margin-top: 20px;
}

.prices-content .promotions strong {
  font-weight: 700;
  color: #3a8fe9;
}

.contact-me {
  grid-row: 5 / 5;
  background-color: #3a8fe9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 80px;
  grid-auto-rows: min-content;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-items: center;
}

.contact-me h1 {
  font-family: "Playfair Display", Times, serif;
  font-size: 50px;
  font-weight: 400;
  color: aliceblue;
  padding-left: 50px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info {
  font-family: "Roboto", Times, serif;
  font-size: 25px;
  color: aliceblue;
  padding-left: 50px;
}

.contact-addr {
  font-family: "Roboto", Times, serif;
  font-size: 25px;
  color: aliceblue;
}

.whatsapp-img {
  max-width: 600px;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  transition: transform 0.2s;
}

.whatsapp-img:hover {
  transform: scale(1.05);
}

.contact-phone {
  display: flex;
  align-items: center;
  padding-left: 50px;
  gap: 10px;
}

.contact-email {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
}

.contact-icons {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  gap: 25px;
  padding-right: 430px;
}

.whatsapp-button {
  text-align: center;
  margin: 20px 0;
}

.whatsapp-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22ae55;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  transition: background-color 0.3s ease;
}

.whatsapp-button a:hover {
  background-color: #128c7e;
}

.whatsapp-icon {
  width: 34px;
  height: auto;
  margin-right: 10px;
}

.email-button {
  text-align: center;
  margin: 20px 0;
}

.email-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
  transition: background-color 0.3s ease;
}

.email-button a:hover {
  background-color: #0056b3;
}

.email-icon {
  width: 34px;
  height: auto;
  margin-right: 10px;
}

.footer {
  background-color: aliceblue;
  color: rgba(0, 0, 0, 0.429);
  text-align: center;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li {
  margin: 0;
}

.footer-links a {
  font-family: "Roboto", Times, serif;
  font-size: 18px;
  color: #3a8fe9;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-text {
  font-family: "Roboto", Times, serif;
  font-size: 14px;
  margin-top: 10px;
  margin: 0;
  padding-top: 10px;
}

/* Mobile version */
@media only screen and (max-width: 480px) {
  .about-me {
    grid-template-rows: min-content;
    grid-template-columns: min-content;
    justify-content: center;
  }

  .about-img {
    justify-self: center;
    margin-top: 20px;
  }

  .about-image {
    max-width: 360px;
    max-height: auto;
  }

  .about-content {
    background-color: aliceblue;
    max-width: 412px;
    justify-self: center;
  }

  .about-icons {
    justify-content: center;
  }

  .my-work > h1 {
    align-self: center;
    padding-left: 0px;
  }

  .project-cards {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content;
  }

  .prices-content {
    padding: 20px;
  }

  .prices-content h1 {
    font-size: 30px;
  }

  .prices-content table {
    font-size: 16px;
  }

  .prices-content .promotions {
    font-size: 18px;
  }

  .contact-me {
    grid-template-columns: inherit;
    grid-template-rows: min-content;
    padding-bottom: 0px;
  }

  .contact-content {
    text-align: center;
  }

  .contact-me h1 {
    text-align: center;
    padding-left: 0px;
  }

  .contact-info {
    font-family: "Roboto", Times, serif;
    font-size: 25px;
    color: aliceblue;
    padding-left: 0px;
    padding-bottom: 10px;
  }

  .contact-addr {
    font-family: "Roboto", Times, serif;
    font-size: 25px;
    color: aliceblue;
    margin: 0;
  }

  .contact-image {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    max-width: 410px;
    display: flex;
    justify-self: center;
  }

  .contact-phone {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    gap: 5px;
    padding-bottom: 15px;
  }

  .contact-email {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 0px;
    padding-bottom: 50px;
  }

  .contact-icons {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    gap: 25px;
    padding-right: 0px;
    padding-bottom: 20px;
  }
}

/* Tablet version */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .about-me {
    grid-template-rows: min-content;
    grid-template-columns: min-content;
    justify-content: center;
  }

  .about-img {
    margin-top: 0px;
    translate: -40% 10%;
    z-index: 2;
  }

  .about-image {
    max-width: 500px;
    max-height: auto;
    display: block;
  }

  .about-content {
    background-color: aliceblue;
    width: 600px;
    height: 600px;
    justify-self: center;
    translate: 17% -30%;
    z-index: 1;
  }

  .about-content > h1 {
    text-align: center;
    padding-left: 294px;
    padding-top: 90px;
  }

  .about-icons {
    justify-content: center;
    translate: 31% -1260%;
  }

  .my-work {
    padding-top: 0px;
  }

  .my-work > h1 {
    align-self: center;
    padding-left: 0px;
    padding-bottom: 50px;
    margin: 0;
  }

  .project-cards {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content min-content;
  }

  .prices-content {
    padding: 30px;
  }

  .prices-content h1 {
    font-size: 35px;
  }

  .prices-content table {
    font-size: 17px;
  }

  .prices-content .promotions {
    font-size: 19px;
  }

  .contact-me {
    grid-template-columns: inherit inherit;
    padding-top: 50px;
    justify-items: center;
  }

  .contact-addr {
    font-family: "Roboto", Times, serif;
    font-size: 25px;
    color: aliceblue;
  }

  .contact-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 90%;
    max-height: auto;
    align-self: center;
  }

  .contact-icons {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 25px;
    padding-top: 20px;
    margin-right: 250px;
  }
}
